{% extends 'base.html.twig' %}

{% block title %}Mes tricks{% endblock %}

{% block body %}
    {% include 'header.twig' %}
    <div class="container">
        <h1>Mes tricks</h1>
        <ul class="list-group">
            {% for trick in tricks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ trick.name }}</span>
                    <div>
                        <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-primary">Editer</a>
                        <form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce trick ?')" style="display: inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
