@import "../../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "components/button.scss";

.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.first-color{
  color: rgb(185,177,160);
}
.first-color-bg{
  background-color: rgb(210, 206, 198);
}
.second-color{
  color: rgb(157,78,112);
}
.second-color-bg{
  background-color: rgb(157,78,112);
}

header{
  box-shadow: #a8a8a8 5px 5px 10px;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: rgb(157,78,112);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  height: auto;
  width: 200px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -0px;
  padding-left: 5px;
  margin-top: -20px;
  transition: transform 0.5s ease-in-out;
  text-align: start;
  z-index: 1;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  padding-right: 15px;
  margin: 0;

}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.home-intro{
  background-image: url("../images/philipp-kammerer-BOMJAHOLhFk-unsplash.webp");
  background-size: cover;
  background-position-y: -750px ;
  height: 80vh;
  @media (max-width: 768px) {
    background-position-y: 0px ;
    background-size: contain;
    height: 100vh;

  }
}