<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snowtricks</title>
    <link href="../../assets/scss/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
    </style>
</head>
<body>
<header class="d-none d-lg-block first-color-bg">
    <div class="d-flex align-items-center justify-content-between px-4">
        <a href="/" class="text-decoration-none">
            <h1 class="pixelify-sans-font second-color">Snowtricks</h1>
        </a>
        <nav class="col col-7">
            <ul class="col col-12 d-md-flex list-unstyled justify-content-between align-items-center mb-0 fs-5 pixelify-sans-font">
                <li><a class="text-decoration-none text-black" href="/">Accueil</a></li>
                <li><a class="text-decoration-none text-black" href="../../tricks">Tricks</a></li>
                {% if app.user is null %}
                    <li><a class="text-decoration-none text-black" href="../login">Connexion</a></li>
                    <li><a class="text-decoration-none text-black" href="../register">Inscription</a></li>
                {% else %}
                    <li><a class="text-decoration-none text-black" href="../trick/new">Ajouter un trick</a></li>
                    <li><a class="text-decoration-none second-color"
                           href="../../account">Hello {{ app.user.username }}</a></li>
                    <li><a class="text-decoration-none text-muted small" href="{{ path('app_logout') }}">Tchao !</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<header class="d-lg-none first-color-bg">
    <nav class="z-1">
        <div class="navbar z-1">
            <div class="nav-container">
                <input class="checkbox" type="checkbox"/>
                <div class="hamburger-lines z-1">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>

                <div class="menu-items first-color-bg mb-5 fs-1 z-1">
                    <li><a class="pixelify-sans-font text-decoration-none text-black" href="/">Accueil</a></li>
                    <li><a class="pixelify-sans-font text-decoration-none text-black" href="../tricks">Tricks</a>
                        {% if app.user is null %}
                    <li><a class="pixelify-sans-font text-decoration-none text-black" href="../login">Connexion</a></li>
                    <li><a class="pixelify-sans-font text-decoration-none text-black" href="../register">Inscription</a></li>
                    {% else %}
                        <li><a class="pixelify-sans-font text-decoration-none text-black" href="../trick/new">Ajouter un trick</a></li>
                        <li><a class="pixelify-sans-font text-decoration-none text-black"
                               href="../../account">Mon compte</a></li>
                        <li><a class="pixelify-sans-font text-decoration-none text-muted" href="{{ path('app_logout') }}">Tchao !</a>
                        </li>
                    {% endif %}

                    </li>
                </div>
            </div>
            <div class="logo z-1">
                <a href="/" class="text-decoration-none">
                    <h1 class="pixelify-sans-font second-color fs-1">Snowtricks</h1>
                </a>
            </div>
        </div>
    </nav>
</header>
