{% include 'header.twig' %}
<main class="d-flex mx-auto row">
    <section class="home-intro mx-auto row">
        <div class="mt-5 d-md-flex flex-column align-items-center justify-content-between col col-12 md-col-10 row mx-auto">
            <div class="col col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
                <p class="fs-4 text-center md-text-end">Bienvenue sur <span class="pixelify-sans-font">SnowTricks</span>, la source
                    ultime pour explorer l'univers des
                    <span class="pixelify-sans-font">figures de snowboard !</span>
                    Que tu sois un rider passionné à la recherche de nouveaux défis ou un débutant curieux
                    d'apprendre
                    les bases,
                    notre site est là pour te guider à travers les différentes figures et techniques de ce sport
                    excitant.
                </p>
                <div class="container mx-auto">
                    <a href="#">
                        <div class="pixel"><p>entrons en contact</p></div>
                    </a>
                </div>
            </div>
            <div class="col col-4 d-flex justify-content-center align-items-center">
                <img class="mx-auto" src="{{ asset('assets/images/pixel_art_snow.png') }}" alt="Description de l'image">
            </div>
        </div>
    </section>
    <section>
        <div class="last-figures first-color-bg h-100 w-100 mt-5">
            <h2 class="p-2 pixelify-sans-font second-color">Les dernieres figures</h2>
coucou
        </div>
    </section>
</main>