{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    <form method="post">
        <div class="form-group">
            <label for="password">Nouveau mot de passe :</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>

        <input type="hidden" name="token" value="{{ token }}">

        <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
    </form>
{% endblock %}
