{% extends 'base.html.twig' %}

{% block title %}Modifier le trick "{{ trick.name }}"{% endblock %}

{% block body %}
    {% include 'header.twig' %}
    <div class="container">
        <h1>Modifier le trick "{{ trick.name }}"</h1>
        <div class="card">
            <div class="card-body">
                {% include 'trick/_form.html.twig' %}

            </div>
        </div>
    </div>
{% endblock %}
